
infrastructure/.terraform.lock.hcl

infrastructure/.terraform/

infrastructure/.env
/infrastructure/.terraform.tfstate.lock.info
/infrastructure/terraform.tfstate
/infrastructure/terraform.tfstate.backup
/infrastructure/tfplan
/infrastructure/secret-vars.tf

cold-autoscaler-2*.zip
cold-autoscaler-2*
*.csv
*.gz
*.json