apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ app_name }}-ingress
  namespace: {{ app_namespace }}
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.global-static-ip-name: "{{ project_name }}-global-ip"
    networking.gke.io/v1beta1.FrontendConfig: "{{ project_name }}-frontend-config"
spec:
  rules:
    - http:
        paths:
          - path: /*
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ app_name }}
                port:
                  number: {{ app_container_port }}