apiVersion: networking.gke.io/v1
kind: MultiClusterIngress
metadata:
  name: {{ app_name }}-oauth2-mci-lb
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
  annotations:
    networking.gke.io/static-ip: {{ mci_global_ip }}
    networking.gke.io/pre-shared-certs: {{ managed_ssl_cert_name }}
spec:
  template:
    spec:
      # Default backend points to OAuth2 proxy
      backend:
        serviceName: oauth2-proxy-mcs
        servicePort: 4180
      rules:
        - host: admin.{{ domain_name }}
          http:
            paths:
              - path: /*
                backend:
                  serviceName: oauth2-proxy-mcs
                  servicePort: 4180