# GCS FUSE PersistentVolumeClaim for streaming pods
# File: playbooks/roles/streaming-server/templates/gcs-persistent-volume-claim.yaml.j2
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gcs-videos-pvc
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
    region: {{ bastion_region }}
    storage-type: gcs-fuse
    content-type: videos
  annotations:
    description: "PVC for mounting regional video content in {{ bastion_region }}"
    bucket-name: "{{ current_bucket_name | default(project_name + '-content-' + bastion_region) }}"
    volume.kubernetes.io/storage-provisioner: "gcs-fuse.csi.storage.gke.io"
spec:
  accessModes:
    - ReadOnlyMany  # Multiple streaming pods can read simultaneously

  # Request storage from our regional GCS volume
  resources:
    requests:
      storage: 1000Gi  # Symbolic - GCS buckets scale automatically

  # Use our regional storage class
  storageClassName: gcs-fuse-{{ bastion_region }}

  # Bind to our specific regional PV
  selector:
    matchLabels:
      app: {{ app_name }}
      region: {{ bastion_region }}
      storage-type: gcs-fuse